@using Rozetka.Models.ViewModels.Cart
@using Rozetka.Data.Entity
@model CartViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="modal-header">
    <h5 class="modal-title">Ваш кошик</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    @if (Model.CartItems.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    @* <th></th> *@
                    <th>Ціна</th>
                    <th>Кількість</th>
                    <th>Загальна ціна</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr data-product-id="@item.ProductId">
                        @* <td>
                            @if (item.Product.ProductImages!.Any())
                            {
                                <img src="data:image/*;base64,@(Convert.ToBase64String(item.Product.ProductImages!.FirstOrDefault()!.ImageData!))" class="card-img-top" alt="@item.Product.Title"
                                     style="height: 100px;width: auto;object-fit: contain;">
                            }
                            else
                            {
                                <img src="~/images/No-Image-Placeholder.svg.png" alt="no-image"
                                     style="height: 100px;width: auto;object-fit: contain;" />
                            }
                        </td> *@
                        <td>@item.Product.ProductType.Title @item.Product.Brand.Title @item.Product.Title</td>
                        <td>@item.Product.Price.ToString("0") ₴</td>
                        <td>
                            <input type="number" value="@item.Count" class="form-control quantity-input" min="1" data-product-id="@item.ProductId" style="width: 70px;">
                        </td>
                        <td>@item.TotalPrice?.ToString("0") ₴</td>                        
                        <td>
                           @*  <button class="btn btn-danger remove-item" data-product-id="@item.ProductId">Видалити</button> *@
                            <button class="remove-from-cart btn p-0 remove-item" data-product-id="@item.ProductId">
                                <i class="bi bi-trash"></i> <!-- Иконка мусорной корзины -->
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
                
        @* <div class="d-flex justify-content-end">
            <h3>Підсумкова сума: <span id="total-price">@Model.TotalPrice.ToString("0")</span> ₴</h3>
        </div> *@
        <div class="d-flex justify-content-end align-items-center total-price-container">
            <div class="total-price-text me-3">
                <h3>Підсумкова сума: <span id="total-price">@Model.TotalPrice.ToString("0")</span> ₴</h3>
            </div>
            <a class="btn btn-purple w-20 total-price-button" asp-controller="Cart" asp-action="Index">
                Сформувати замовлення
            </a>
        </div>
    }
    else
    {
        <!-- Если корзина изначально пустая, показываем сообщение -->
        <div class="text-center mt-5 empty-cart-message">
            <h3>Ваш кошик порожнiй</h3>
            <p>Додайте товари у кошик, щоб продовжити.</p>
            <i class="bi bi-emoji-frown" style="font-size: 240px; color: #ccc;"></i>
        </div>
    }
</div>

@* <div class="cart-container">
    <!-- Общий контейнер для корзины -->
    @if (Model.CartItems.Any())
    {
        <div class="cart-items-container" style="max-height: 500px; overflow-y: auto;">
            <table class="table">
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr data-product-id="@item.ProductId">
                            <td style="border: none;">
                                @if (item.Product.ProductImages!.Any())
                                {
                                    <img src="data:image/*;base64,@(Convert.ToBase64String(item.Product.ProductImages!.FirstOrDefault()!.ImageData!))" class="card-img-top" alt="@item.Product.Title"
                                         style="height: 100px;width: auto;object-fit: contain;">
                                }
                                else
                                {
                                    <img src="~/images/No-Image-Placeholder.svg.png" alt="no-image"
                                         style="height: 100px;width: auto;object-fit: contain;" />
                                }
                            </td>
                            <td style="border: none;">@item.Product.Title</td>
                            <td style="border: none;">@item.Product.Price.ToString("0")</td>
                            <td class="item-count" style="border: none;">
                                <div class="d-flex text-center">
                                    <input type="number" value="@item.Count" class="form-control quantity-input" min="1" data-product-id="@item.ProductId" style="width: 70px;">
                                </div>
                            </td>
                            <td style="border: none;">@item.TotalPrice?.ToString("0") ₴</td>
                            <td style="border: none;">
                                <button class="remove-from-cart btn p-0 remove-item" data-product-id="@item.ProductId">
                                    <i class="bi bi-trash"></i> <!-- Иконка мусорной корзины -->
                                </button>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end align-items-center total-price-container">
            <div class="total-price-text me-3">
                <h3>Підсумкова сума: <span id="total-price">@Model.TotalPrice.ToString("0")</span> ₴</h3>
            </div>
            <a class="btn btn-purple w-20 total-price-button" asp-controller="Cart" asp-action="Index">
                Сформувати замовлення
            </a>
        </div>
    }
    else
    {
        <!-- Если корзина изначально пустая, показываем сообщение -->
        <div class="text-center mt-5 empty-cart-message">
            <h3>Ваш кошик порожнiй</h3>
            <p>Додайте товари у кошик, щоб продовжити.</p>
            <i class="bi bi-emoji-frown" style="font-size: 240px; color: #ccc;"></i>
        </div>
    }
</div> *@

@* <!-- Блок для пустой корзины, который будет показываться или скрываться -->
<div class="text-center mt-5 empty-cart-message" style="display: none;">
    <h3>Ваш кошик порожнiй</h3>
    <p>Додайте товари у кошик, щоб продовжити.</p>
    <i class="bi bi-emoji-frown" style="font-size: 240px; color: #ccc;"></i>
</div> *@
<!-- Удаление товара из модальной корзины -->
@* <script>
    $(document).on('click', '.remove-from-cart', function (e) {
        e.preventDefault(); // Отменяем стандартное поведение ссылки/кнопки

        const id = $(this).data('id'); // Получаем ID товара

        $.ajax({
            url: '/Cart/RemoveFromCart', // Укажите правильный URL для действия
            type: 'POST',
            data: { id: id }, // Передаем ID товара
            success: function (response) {
                if (response.success) {
                    // Обновляем количество товаров в корзине
                    $('#cart-count').text(response.cartItemCount); // Обновляем счетчик

                    // Проверяем, если корзина пустая
                    if (response.cartItemCount === 0) {
                        // Прячем кнопку "Оформити замовлення" и общую стоимость
                        $('.total-price-button').hide();
                        $('#totalPrice').hide();

                        // Скрываем элемент cart-count
                        $('#cart-count').hide();

                        // Показываем сообщение о пустой корзине
                        $('.empty-cart-message').show();
                    } else {
                        // Если в корзине есть товары, показываем cart-count
                        $('#cart-count').show();
                    }

                    // Удаляем строку из таблицы
                    $('tr[data-row-id="' + id + '"]').remove();

                    // Обновляем общую стоимость
                    $('#totalPrice').text(response.totalPrice + " ₴");
                } else {
                    alert("Ошибка при удалении товара: " + response.message);
                }
            },
            error: function (xhr) {
                // Выводим более детальное сообщение об ошибке
                alert("Произошла ошибка при удалении товара: " + xhr.status + ' ' + xhr.statusText);
            }
        });
    });
</script> *@