@*  @model IEnumerable<Rozetka.Data.Entity.Childcategory>*@
    @model Rozetka.Models.ViewModels.ChildCategoriesViewModel.ChildCategoriesViewModel

    @* часткове представлення для випадаючого вікна  КАТАЛОГ *@

<div id="childcategories1">
    @foreach (var child in Model.FirstPart)
    {
        <div class="child-category">
            <h5 class="font-sz">
                <!-- Створюємо посилання для підкатегорій -->
                <a href="@Url.Action("GetProducts", "Childcategories", new { childcategory = child.Name })"> @* new { childcategory = child.Id })"> *@
                    @child.Name
                </a>
            </h5>
            <ul>
                @foreach (var subChild in child.SubChildCategories)
                {
                    <li>
                        <!-- Створюємо посилання для субпідкатегорій -->
                        <a href="@Url.Action("GetProducts", "SubChildCategory", new { subchildcategoryId = subChild.Id })">
                            @subChild.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<div id="childcategories2">
    @foreach (var child in Model.SecondPart)
    {
        <div class="child-category">
            <h5 class="font-sz">
                <a href="@Url.Action("GetProducts", "Childcategories", new { childcategory = child.Name })">
                    @child.Name
                </a>
            </h5>
            <ul>
                @foreach (var subChild in child.SubChildCategories)
                {
                    <li>
                        <a href="@Url.Action("GetProducts", "SubChildCategory", new { subchildcategory = subChild.Name })">
                            @subChild.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<div id="childcategories3">
    @foreach (var child in Model.ThirdPart)
    {
        <div class="child-category">
            <h5 class="font-sz">
                <a href="@Url.Action("GetProducts", "Childcategories", new { childcategory = child.Name })">
                    @child.Name
                </a>
            </h5>
            <ul>
                @foreach (var subChild in child.SubChildCategories)
                {
                    <li>
                        <a href="@Url.Action("GetProducts", "SubChildCategory", new { subchildcategory = subChild.Name })">
                            @subChild.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>


    
     
