@using System.Security.Claims;
@* @model Rozetka.Models.ViewModels.Account.LoginViewModel *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - Rozetka</title> *@
    <title>Rozetka - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rozetka.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="icon" href="~/logo/hello_smile_icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    @* <header>         
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom fixed-top">
           
            
             *@   @* розгортання або згортання навігаційної панелі на мобільних пристроях. *@ @*
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" style="color: white"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list"></span>
                </button>
               
              *@  @* Логотип ROZETKA - Переходить на головну сторінку (метод Index в HomeController) *@ @*
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <a class="navbar-brand fs-2 ms-5" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="\logo\hello_smile_icon.png" alt="ROZETKA" width="40" height="40">ROZETKA
                    </a>

                    <!-- Button trigger modal -->
               *@    @*  Відкриває модальне вікно з каталогом товарів (catalogModal) *@ @*
                    <button type="button" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#catalogModal">
                        <i class="bi bi-boxes"></i> 
                        Каталог
                    </button>                                        
                </div>   
              *@  @* пошукова форма, запит буде оброблятися методом Searching у ProductsController *@ @*
                <form class="d-flex mx-3 p-2 flex-fill" role="search" asp-controller="Products" asp-action="Searching">
                    <input class="form-control" type="search" placeholder="Я шукаю..." aria-label="Search" name="inputSearching">
                    <button class="btn btn-purple" type="submit">Знайти</button>
                </form>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.User.Identity?.IsAuthenticated ?? false)
                        {
                            if (@Context.User.IsInRole("admin"))
                          *@  @* if (@Context.User.Claims.First(c => c.Type == ClaimTypes.Role).Value == "admin")  *@
                                                          
                                    @* Переходить на сторінку для додавання нового товару (метод NewProduct в ProductController) *@  @*
                                <li class="nav-item">
                                    <a class="nav-link text-white btn-lg"
                                       asp-action="NewProduct" asp-controller="Product"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Додати товар">
                                        <i class="bi bi-plus-circle"></i>
                                    </a>
                                </li>
                            *@    @* Переходить на сторінку з таблицею товарів(метод ProductDB в ProductController) *@  @*
                                <li class="nav-item">
                                    <a class="nav-link text-white btn-lg"
                                       asp-action="ProductDB" asp-controller="Product"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Таблиця товарів">
                                        <i class="bi bi-table"></i>
                                    </a>
                                </li>
                            }
                         *@   @* Переходить на сторінку з покупками користувача(метод Purchase в HomeController) *@ @*
                            <li class="nav-item">
                                <a class="nav-link text-white btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="Purchase"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Покупки">
                                    <i class="bi bi-card-list"></i>
                                </a>
                            </li>
                         *@  @*  Переходить на сторінку з акціями(метод Shares в HomeController) *@ @*
                            <li class="nav-item">
                                <a class="nav-link text-white btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="Shares"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Акції">
                                    <i class="bi bi-bell"></i>
                                </a>
                            </li>
                         *@   @* Переходить на сторінку з порівняннями(метод Compare в HomeController) *@ @*
                            <li class="nav-item">                                
                                <a type="button" class="nav-link text-white btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="Compare"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Список порівнянь">
                                    <img src="~/icons/balance_icon.png" alt="Balance Icon" class="icon-img-white">
                                </a>
                            </li>
                         *@  @*  Переходить на сторінку зі списком бажань(метод WishList в HomeController) *@ @*
                            <li class="nav-item">
                                <a class="nav-link text-white btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="WishList"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Список бажань">
                                    <i class="bi bi-heart"></i>                                  
                                </a>
                            </li>
                          *@  @* вихід з акаунту *@   @*                       
                            <li class="nav-item">
                                <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link text-white btn-lg" id="auth-signout-button-nav"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Вихід"
                                            style="background-color: black; color: white; border: none;">
                                        <i class="bi bi-box-arrow-right"></i>
                                    </button>
                                    @Html.AntiForgeryToken()
                                </form>
                            </li>
                        }
                        else
                        {
                           *@ @* Відкриває модальне вікно для авторизації(модальне вікно з ID authModal) *@  @*
                            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Вхід">
                                <!-- Button trigger modal -->
                                <a type="button" href="" class="nav-link text-white btn-lg"
                                   data-bs-toggle="modal"
                                   data-bs-target="#authModal">
                                    <i class="bi bi-person"></i>                                    
                                </a>
                            </li>                          
                        }  
                        <li class="nav-item">
                            <a class="nav-link text-white btn-lg"
                               asp-action="AdminPage" asp-controller="Home"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Сторінка адміністратора">
                                <i class="bi bi-file-earmark-break-fill"></i>
                            </a>
                        </li>
                    </ul>                    
                </div>
                
                <!-- Button trigger modal -->
                @*  Переходить на сторінку з кошиком (метод Index в CartController) *@ @*
                 <a class="nav-link text-white position-relative btn-lg"
                   asp-area="" asp-controller="Cart" asp-action="Index"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Кошик">
                    <i class="bi bi-cart2"></i> 
                    <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display:none;">
                        0
                    </span>
                </a>               
            </div>
        </nav>   
    </header> *@
    <header class="header bg-light py-3">
        <nav> @* class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom fixed-top"> *@

            @* розгортання або згортання навігаційної панелі на мобільних пристроях. *@ 
            @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" style="color: white"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-list"></span>
            </button> *@

        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">

                <!-- Гамбургер та Лого -->
                <div class="col-1 col-md-1 d-flex align-items-lg-end">
                    <!-- Гамбургер меню -->
                    <a class="nav-link btn-lg ms-5 text-black"
                       data-bs-toggle="offcanvas"
                       href="#offcanvasExample"
                       role="button"
                       aria-controls="offcanvasExample">
                        <i class="bi bi-list fs-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Бокова панель"></i>
                    </a>
                </div>

                <div class="col-4 col-md-2 d-flex align-items-center">
                    <!-- Логотип -->
                    <div class="col-6 col-md-12 ">
                        <a class="logo-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="/logo/shvidkobuy.png" alt="ШвидкоBuy" class="logo-image img-fluid">
                        </a>
                    </div>                        
                </div>

                <!-- Пошук та Каталог -->
                <div class="col-8 col-md-5">
                    <div class="d-flex justify-content-center align-items-center">
                        <form class="d-flex mx-3 p-2 flex-fill" role="search" asp-controller="Products" asp-action="Searching">
                            <!-- Кнопка каталогу -->
                            <button type="button" class="quick-find-button btn btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#catalogModal">
                                <i class="bi bi-grid me-1"></i> Каталог
                            </button>
                            <!-- Поле пошуку -->
                            <div class="quick-search-container">
                                <p class="quick-search-label">Знайти на ШвидкоBuy</p>
                                <div class="quick-search-container1">
                                    <div class="vertical-divider"></div>
                                    <div class="svg-container1">
                                        <i class="bi bi-mic fs-5"></i>
                                    </div>
                                    <div class="purple-box-with-text">
                                        <div class="svg-container2">
                                            <i class="bi bi-search fs-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--//////////////////////////////////////-->                
                <div class="col-6 col-md-3 d-flex justify-content-center">
                    <div class="d-flex align-items-center">

                        @if (Context.User.Identity?.IsAuthenticated ?? false)
                        {
                            if (@Context.User.IsInRole("admin"))
                            {
                            @* if (@Context.User.Claims.First(c => c.Type == ClaimTypes.Role).Value == "admin")  *@
                                                          
                                @* Переходить на сторінку для додавання нового товару (метод NewProduct в ProductController) *@                                  
                                    <a class="nav-link text-black btn-lg"
                                       asp-action="NewProduct" asp-controller="Product"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Додати товар">
                                        <i class="bi bi-plus-circle"></i>
                                    </a>
                                
                                @* Переходить на сторінку з таблицею товарів(метод ProductDB в ProductController) *@                                    
                                    <a class="nav-link text-black btn-lg"
                                       asp-action="ProductDB" asp-controller="Product"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Таблиця товарів">
                                        <i class="bi bi-table"></i>
                                    </a>                                
                            }
                            @* Переходить на сторінку з покупками користувача(метод Purchase в HomeController) *@                             
                                <a class="nav-link text-black btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="Purchase"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Покупки">
                                    <i class="bi bi-card-list"></i>
                                </a>                           
                           @*  Переходить на сторінку з акціями(метод Shares в HomeController) *@                             
                                <a class="nav-link text-black btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="Shares"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Акції">
                                    <i class="bi bi-bell"></i>
                                </a>                           
                            @* Переходить на сторінку з порівняннями(метод Compare в HomeController) *@                             
                                <a type="button" class="nav-link text-black btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="Compare"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Список порівнянь">
                                    <img src="~/icons/balance_icon.png" alt="Balance Icon" class="icon-img-white">
                                </a>                            
                           @*  Переходить на сторінку зі списком бажань(метод WishList в HomeController) *@                            
                                <a class="nav-link text-black btn-lg"
                                   asp-area="" asp-controller="Home" asp-action="WishList"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Список бажань">
                                    <i class="bi bi-heart"></i>                                  
                                </a>                            
                            @* вихід з акаунту *@                                                    
                                <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link text-black btn-lg" id="auth-signout-button-nav"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Вихід"
                                            style="background-color: black; color: white; border: none;">
                                        <i class="bi bi-box-arrow-right"></i>
                                    </button>
                                    @Html.AntiForgeryToken()
                                </form>                            
                        }
                        else
                        {
                            @* Відкриває модальне вікно для авторизації(модальне вікно з ID authModal) *@                              
                                <!-- ВХІД РЕЄСТРАЦІЯ -->
                                <a type="button" href="" class="nav-link text-black btn-lg"
                                   data-bs-toggle="modal"
                                   data-bs-target="#authModal">
                                      <div class="me-3 text-center"> 
                                         <i class="bi bi-person "></i>
                                         <p class="menu-link-text-style mb-0">Увійти</p>
                                      </div> 
                                </a>                           
                            }  
                        
                        <!-- КОШИК -->
                        @*  Переходить на сторінку з кошиком (метод Index в CartController) *@
                        <a class="nav-link text-black position-relative btn-lg"
                               asp-area="" asp-controller="Favorites" asp-action="Index"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Обране">
                                <div class="text-center">
                                    <i class="bi bi-heart fs-5"></i>
                                    <p class="menu-link-text-style mb-0">Обране</p>
                                </div>
                            <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display:none;">
                               0
                            </span>
                        </a>

                            <a class="nav-link text-black position-relative btn-lg"
                               asp-area="" asp-controller="Cart" asp-action="Index"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Кошик">
                                <div class="text-center">
                                    <i class="bi bi-cart2 fs-5"></i>
                                    <p class="menu-link-text-style mb-0">Кошик</p>
                                </div>
                                <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display:none;">
                                    0
                                </span>
                            </a>

                        <!-- АДМІНКА -->
                        <a class="nav-link text-black btn-lg"
                           asp-action="AdminPage" asp-controller="Home"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Сторінка адміністратора">
                            <i class="bi bi-file-earmark-break-fill"></i>
                        </a>

                    </div>
                </div>
                <!--/////////////////////////////////////////////-->
                <!-- Навігація -->
                 @* <div class="col-6 col-md-3 d-flex justify-content-center">
                    <div class="d-flex align-items-center">
                        <div class="me-3 text-center">
                            <i class="bi bi-person fs-5"></i>
                            <p class="menu-link-text-style mb-0">Увійти</p>
                        </div>
                        <div class="me-3 text-center">
                            <i class="bi bi-heart fs-5"></i>
                            <p class="menu-link-text-style mb-0">Обране</p>
                        </div>
                        <div class="text-center">
                            <i class="bi bi-basket fs-5"></i>
                            <p class="menu-link-text-style mb-0">Кошик</p>
                        </div>
                    </div>
                </div> *@ 
            </div>
        </div>
        </nav>
    </header>

    @* бічне вікно кошика *@
    <div id="cartSidebar" class="cart-sidebar">
        <div class="cart-sidebar-content">
            <h3>Ваш кошик</h3>            
            <div class="cart-items">                
            </div>
            <button class="btn btn-primary" onclick="window.location.href='/Cart/Index'">Перейти в кошик</button>
            <div class="closebtn">
                <button  onclick="closeCartSidebar()">&times;</button>
            </div>
        </div>
    </div>


    @* бічне меню, яке відкривається по кліку на іконку *@
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header" style="background-color:black">
            <a class="navbar-brand fs-2 ms-5" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="\logo\hello_smile_icon.png" alt="ROZETKA" width="40" height="40">ROZETKA
            </a>
            <button type="button" class="btn-close btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color:white">

            @if (Context.User.Identity?.IsAuthenticated ?? false)
            {
                <div class="catalog text-center text-capitalize">
                    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="User" asp-action="PersonalData">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">@Context.User.Identity?.Name</h5>                       
                    </a>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#authModal">
                            Вхід
                        </button>
                    </div>                  
                </div>
                <div class="row">
                    <div class="col">
                        <img src="~/icons/person_icon.png" alt="Person Icon">

                    </div>
                    <diV class="col-8">
                        <label>Авторизуйтесь для отримання розширених можливостей</label>
                    </diV>
                </div>
            }

            <div class="d-grid gap-2">
                <hr>
                <button type="button" class="btn btn-lg text-success text-start" data-bs-toggle="modal" data-bs-target="#catalogModal">
                    <i class="bi bi-boxes"></i>
                    Каталог товарів
                </button>
                <hr>
                <button type="button" class="btn btn-lg text-success text-start"
                        data-bs-toggle="modal"
                        data-bs-target="#infoModal">
                    <i class="bi bi-question-circle"></i>
                    Довідковий центр
                </button>
                <hr>
                <a class="btn btn-lg text-success text-start" asp-controller="Cart" asp-action="Index">  
                    <i class="bi bi-cart2"></i>
                    Кошик                                       
                </a>
                @if (Context.User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-lg text-success text-start" asp-controller="Home" asp-action="Purchase">
                        <i class="bi bi-card-list"></i>
                        Мої замовлення
                    </a>
                    <a class="btn btn-lg text-success text-start" asp-controller="Home" asp-action="Shares">
                        <i class="bi bi-bell"></i>
                        Персональні пропозиції
                    </a>

                    <a class="btn btn-lg text-success text-start" asp-controller="Home" asp-action="WishList">
                        <i class="bi bi-heart"></i>
                        Список бажань                                             
                    </a>

                    <a class="btn btn-lg text-success text-start" asp-controller="Home" asp-action="Compare">
                        <img src="~/icons/balance_icon2.png" alt="Balance Icon" class="icon-img-green">
                        Порівняння                      
                    </a>
                    <hr>
                   
                    <form id="logoutFormOffcanvas" method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-lg text-danger text-start" id="auth-signout-button-offcanvas">
                            <i class="bi bi-box-arrow-right"></i>
                            Вихід
                        </button>
                        @Html.AntiForgeryToken()
                    </form>
                }                
            </div>            
        </div>
    </div> 

    @* основний контент сторінки, що буде динамічно вставлений в шаблон за допомогою @RenderBody(). *@
    <div class="container-fluid slider-container">
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 


    <footer class="border-top bg-light text-muted py-4">
        <div class="container-fluid px-4">
            <div class="row justify-content-between">
                @* <div class="col-md-2"> *@
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <h5>Покупцям</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Запитання та відповіді</a></li>
                        <li><a href="#" class="text-muted">Юридична інформація</a></li>
                        <li><a href="#" class="text-muted">Способи оплати</a></li>
                        <li><a href="#" class="text-muted">Доставка</a></li>
                    </ul>
                    <div class="row mt-4">
                        <div class="col ">
                            <a href="#" class="text-muted mx-2">
                                <i class="bi bi-instagram fs-2"></i>
                            </a>
                            <a href="#" class="text-muted mx-2">
                                <i class="bi bi-telegram fs-2"></i>
                            </a>
                            @* <a href="#" class="text-muted mx-2">
                            <i class="bi bi-viber fs-2"></i>
                            </a> *@
                            <a href="#" class="text-muted mx-2 icon-up">
                                <svg width="40" height="40" viewBox="0 0 32 32" x="0" y="0" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="basil:viber-outline" data-node-id="I14:538;2:21426" xmlns="http://www.w3.org/2000/svg">
                                        <path id="Vector_388" data-node-id="I14:538;2:21427" d="M11.1078,8.9705c-0.225,-0.033 -0.455,0.013 -0.651,0.129h-0.017c-0.454,0.267 -0.864,0.602 -1.213,0.998c-0.291,0.336 -0.449,0.675 -0.49,1.002c-0.024,0.194 -0.007,0.391 0.05,0.576l0.021,0.012c0.328,0.962 0.755,1.887 1.276,2.757c0.672,1.223 1.5,2.353 2.461,3.364l0.029,0.042l0.046,0.034l0.028,0.032l0.034,0.029c1.015,0.965 2.148,1.796 3.373,2.474c1.4,0.762 2.25,1.122 2.76,1.273v0.007c0.149,0.046 0.285,0.067 0.422,0.067c0.435,-0.032 0.847,-0.208 1.169,-0.502c0.394,-0.35 0.727,-0.761 0.987,-1.218v-0.008c0.243,-0.461 0.161,-0.895 -0.191,-1.189c-0.705,-0.618 -1.469,-1.166 -2.28,-1.637c-0.543,-0.295 -1.095,-0.116 -1.318,0.182l-0.476,0.601c-0.245,0.298 -0.689,0.257 -0.689,0.257l-0.012,0.007c-3.311,-0.845 -4.195,-4.197 -4.195,-4.197c0,0 -0.041,-0.456 0.266,-0.688l0.596,-0.48c0.286,-0.233 0.485,-0.784 0.178,-1.327c-0.469,-0.81 -1.016,-1.574 -1.633,-2.279c-0.135,-0.166 -0.323,-0.278 -0.533,-0.319M16.7028,7.5135c-0.16,0 -0.315,0.064 -0.428,0.178c-0.114,0.113 -0.178,0.268 -0.178,0.428c0,0.161 0.064,0.315 0.178,0.429c0.113,0.114 0.268,0.178 0.428,0.178c1.533,0 2.806,0.5 3.813,1.46c0.518,0.525 0.922,1.147 1.186,1.829c0.265,0.682 0.387,1.411 0.355,2.141c-0.007,0.16 0.051,0.317 0.16,0.436c0.108,0.118 0.26,0.189 0.421,0.195c0.161,0.007 0.317,-0.05 0.436,-0.159c0.118,-0.109 0.189,-0.261 0.195,-0.421c0.037,-0.898 -0.112,-1.794 -0.437,-2.631c-0.327,-0.842 -0.824,-1.607 -1.46,-2.248l-0.012,-0.012c-1.25,-1.194 -2.831,-1.803 -4.657,-1.803z" fill="currentColor" />
                                        <path id="Vector_389" data-node-id="I14:538;2:21428" d="M16.6608,9.5065c-0.161,0 -0.315,0.064 -0.429,0.178c-0.113,0.113 -0.177,0.268 -0.177,0.428c0,0.161 0.064,0.315 0.177,0.429c0.114,0.114 0.268,0.178 0.429,0.178h0.02c1.106,0.078 1.911,0.447 2.475,1.052c0.578,0.623 0.878,1.398 0.855,2.356c-0.004,0.16 0.056,0.316 0.167,0.432c0.111,0.117 0.264,0.184 0.425,0.188c0.161,0.003 0.316,-0.057 0.433,-0.168c0.116,-0.111 0.183,-0.264 0.187,-0.425c0.029,-1.257 -0.376,-2.342 -1.178,-3.207v-0.003c-0.821,-0.88 -1.947,-1.346 -3.303,-1.437l-0.021,-0.002z" fill="currentColor" />
                                        <path id="Vector_390" data-node-id="I14:538;2:21429" d="M16.6378,11.5375c-0.081,-0.008 -0.163,0.002 -0.24,0.027c-0.078,0.025 -0.15,0.065 -0.211,0.119c-0.061,0.053 -0.112,0.119 -0.147,0.192c-0.036,0.073 -0.057,0.153 -0.061,0.234c-0.004,0.081 0.008,0.163 0.036,0.239c0.028,0.077 0.071,0.147 0.127,0.206c0.055,0.06 0.122,0.107 0.197,0.14c0.074,0.034 0.154,0.051 0.236,0.053c0.507,0.026 0.83,0.179 1.034,0.384c0.205,0.206 0.358,0.537 0.386,1.055c0.001,0.081 0.019,0.161 0.052,0.235c0.033,0.075 0.081,0.142 0.141,0.197c0.059,0.055 0.129,0.098 0.206,0.126c0.076,0.028 0.157,0.04 0.239,0.036c0.081,-0.005 0.161,-0.025 0.234,-0.061c0.073,-0.036 0.138,-0.086 0.191,-0.147c0.054,-0.062 0.094,-0.133 0.119,-0.211c0.025,-0.077 0.035,-0.159 0.027,-0.24c-0.038,-0.727 -0.266,-1.37 -0.733,-1.842c-0.469,-0.473 -1.108,-0.704 -1.833,-0.742z" fill="currentColor" />
                                        <path id="Vector_391" data-node-id="I14:538;2:21430" fill-rule="evenodd" clip-rule="evenodd" d="M10.0198,4.3425c3.857,-0.862 7.858,-0.862 11.716,0l0.411,0.091c1.127,0.253 2.163,0.813 2.991,1.618c0.829,0.805 1.418,1.824 1.703,2.944c0.98,3.859 0.98,7.901 0,11.76c-0.285,1.12 -0.874,2.139 -1.703,2.944c-0.828,0.805 -1.864,1.365 -2.991,1.618l-0.412,0.091c-2.417,0.539 -4.896,0.743 -7.368,0.605l-3.216,2.878c-0.122,0.108 -0.27,0.182 -0.429,0.214c-0.16,0.032 -0.325,0.02 -0.479,-0.034c-0.153,-0.053 -0.29,-0.148 -0.394,-0.272c-0.105,-0.125 -0.175,-0.275 -0.202,-0.436l-0.532,-3.178c-1.02,-0.318 -1.942,-0.893 -2.677,-1.668c-0.736,-0.776 -1.26,-1.726 -1.524,-2.762c-0.98,-3.859 -0.98,-7.901 0,-11.76c0.285,-1.12 0.875,-2.139 1.703,-2.944c0.829,-0.805 1.864,-1.365 2.992,-1.618zM21.3388,6.1165c-3.596,-0.804 -7.326,-0.804 -10.923,0l-0.412,0.092c-0.799,0.179 -1.533,0.577 -2.12,1.148c-0.587,0.57 -1.005,1.293 -1.207,2.086c-0.905,3.565 -0.905,7.3 0,10.865c0.202,0.794 0.62,1.517 1.208,2.087c0.587,0.571 1.321,0.969 2.12,1.148l0.109,0.024c0.177,0.04 0.337,0.131 0.462,0.262c0.124,0.132 0.207,0.297 0.237,0.475l0.356,2.132l2.269,-2.031c0.091,-0.081 0.197,-0.144 0.312,-0.183c0.115,-0.04 0.237,-0.056 0.359,-0.047c2.423,0.171 4.859,-0.011 7.23,-0.54l0.411,-0.092c0.8,-0.179 1.533,-0.577 2.121,-1.148c0.587,-0.57 1.005,-1.293 1.207,-2.087c0.905,-3.564 0.905,-7.299 0,-10.865c-0.202,-0.793 -0.62,-1.516 -1.207,-2.087c-0.588,-0.571 -1.321,-0.968 -2.121,-1.147z" fill="currentColor" />
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                @* <div class="col-md-2"> *@
                <div class="col-lg-2 col-md-3">
                    <h5>Продавцям та партнерам</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Продавати товари</a></li>
                        <li><a href="#" class="text-muted">Відкрити пункт видачі</a></li>
                        <li><a href="#" class="text-muted">Запропонувати приміщення</a></li>
                        <li><a href="#" class="text-muted">Доставляти замовлення</a></li>
                    </ul>
                </div>
                @* <div class="col-md-2"> *@
                <div class="col-lg-2 col-md-3">
                    <h5>Допомога</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Доставка та оплата</a></li>
                        <li><a href="#" class="text-muted">Кредит</a></li>
                        <li><a href="#" class="text-muted">Гарантія</a></li>
                        <li><a href="#" class="text-muted">Повернення товару</a></li>
                    </ul>
                </div>
                @* <div class="col-md-2"> *@
                <div class="col-lg-2 col-md-3">
                    <h5>Інформація про компанію</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Умови використання сайту</a></li>
                        <li><a href="#" class="text-muted">Про нас</a></li>
                        <li><a href="#" class="text-muted">Вакансії</a></li>
                        <li><a href="#" class="text-muted">Контакти</a></li>
                    </ul>
                </div>
                @* <div class="col-md-2">  *@
                <div class="col-lg-2 col-md-3">
                    <div class="card" style="width: 8rem;">
                        <img src="@Url.Content("~/images/image_4b26cab1.png")" class="card-img-top mb-3" alt="...">
                        <img src="@Url.Content("~/images/image_47515271.png")" class="mb-3" alt="...">
                        <img src="@Url.Content("~/images/image_434fcf74.png")" class="card-img-bottom" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <!-- <script>
        // Инициализация Facebook SDK
        window.fbAsyncInit = function () {
            FB.init({
                appId: '919240966632914', // Замените на ваш App ID
                cookie: true,
                xfbml: true,
                version: 'v20.0'
            });

            FB.AppEvents.logPageView();

            // Проверка статуса входа
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    fetchUserData(response.authResponse.accessToken);
                } else {
                    console.log('User is not logged into Facebook or not authorized.');
                }
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Функция для проверки статуса входа
        // Обработчик нажатия кнопки входа
        function checkLoginState() {
            if (typeof FB !== 'undefined') {
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        fetchUserData(response.authResponse.accessToken);
                    } else {
                        console.log('User is not logged into Facebook or not authorized.');
                    }
                });
            } else {
                console.error('Facebook SDK not yet loaded.');
            }
        }

        // Функция для получения данных пользователя
        function fetchUserData(accessToken) {
            const url = `https://graph.facebook.com/me?fields=id,name,email&access_token=${accessToken}`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('User Data:', data);
                    // Обработка данных пользователя
                })
                .catch(error => {
                    console.error('Error fetching user data:', error);
                });
        }
    </script>-->


</body>
</html>

<!-- Модальне вікно для авторизації -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Авторизація</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="auth-form" method="post" action="/Account/Login">
                    @Html.AntiForgeryToken() <!-- Токен захисту від підробки запитів -->
                    <div class="mb-3">
                        <label for="auth-email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="auth-email" name="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="auth-password" class="form-label">Пароль:</label>
                        <input type="password" class="form-control" id="auth-password" name="Password" required>
                    </div>
                    <div class="mb-3">
                        <label for="auth-remember" class="form-label">Запам'ятати мене</label>
                        <input type="checkbox" id="auth-remember" name="RememberMe">
                        <span>&nbsp;</span>
                        <br />
                        <button type="submit" class="btn btn-purple">Увійти</button>
                    

                       
                    </div>
                    <div class="modal-footer">
                        <div id="auth-message" class="alert alert-danger visually-hidden" role="alert"></div>
                       
                        
                    </div>                  
                </form>
            </div>
            <div class="mb-3 d-flex justify-content-center gap-2">
                <!-- Вход Google -->
                <a asp-action="GoogleLogin" asp-controller="Account" class="btn btn-purple d-flex align-items-center">
                    <i class="fab fa-google me-2"></i> Login with Google
                </a>

                <!-- Вход Facebook -->
                <a asp-action="FacebookLogin" asp-controller="Account" class="btn btn-purple d-flex align-items-center">
                    <i class="fab fa-facebook me-2"></i> Login with Facebook
                </a>

                <!-- Реєстрація -->
                <a asp-controller="Account" asp-action="Register" class="btn btn-purple d-flex align-items-center">
                    Реєстрація
                </a>
                <!-- 17.09 -->
            </div>
        </div>
    </div>
</div>




<!-- Модальне вікно для каталогу -->
<div class="modal fade" id="catalogModal" tabindex="-1" aria-labelledby="catalogModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catalogModalLabel">Каталог товарів</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Вміст модального вікна для каталогу -->
                <div class="row">
                    <div class="col-md-4 text-start border-end border-2" style="min-width: 320px">
                        <ul class="catalog">

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Ноутбуки та комп'ютери"><i class="bi bi-laptop"></i> Ноутбуки та комп'ютери</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Смартфони, ТВ і електроніка"><i class="bi bi-phone"></i> Смартфони, ТВ і електроніка</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Товари для геймерів"><i class="bi bi-controller"></i> Товари для геймерів</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Побутова техніка"><i class="bi bi-boombox"></i> Побутова техніка</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Товари для дому"><i class="bi bi-easel"></i> Товари для дому</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Інструменти та автотовари"><i class="bi bi-hammer"></i> Інструменти та автотовари</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Сантехніка та ремонт"><i class="bi bi-paint-bucket"></i> Сантехніка та ремонт</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Дача, сад і город"><i class="bi bi-house"></i> Дача, сад і город</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Спорт і захоплення"><i class="bi bi-bicycle"></i> Спорт і захоплення</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Одяг, взуття та прикраси"><i class="bi bi-gem"></i> Одяг, взуття та прикраси</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Краса та здоров'я"><i class="bi bi-emoji-sunglasses"></i> Краса та здоров'я</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Дитячі товари"><i class="bi bi-balloon-heart"></i> Дитячі товари</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Зоотовари"><i class="bi bi-tencent-qq"></i> Зоотовари</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Офіс, школа, книги"><i class="bi bi-pen"></i> Офіс, школа, книги</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Алкогольні напої та продукти"><i class="bi bi-cup-straw"></i> Алкогольні напої та продукти</a>
                            </li>

                            <li style="list-style-type: none;">
                                <a href="/Categories/GetChildCategories?category=Побутова хімія"><i class="bi bi-eyedropper"></i> Побутова хімія</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>


            @* перевірки на автентифікацію (Context.User.Identity?.IsAuthenticated ?? false) 
            якщо потрібно перевірити роль користувача, краще використовувати методи 
            ASP.NET Identity замість доступу до claims напряму.test *@