@using Rozetka.Data.Entity
@using Rozetka.Models.ViewModels.Products
@model GetProductsFilterViewModelcs

@* 
@{
    string? category = Context.Session.GetString("Category");
    // string? childcategory = Context.Session.GetString("ChildCategory");
    // string? subchildcategory = Context.Session.GetString("SubChildCategory");

    decimal? minPrice = Model.Products.Any() ? Model.Products.Min(p => p.Price) : null;
    decimal? maxPrice = Model.Products.Any() ? Model.Products.Max(p => p.Price) : null;
} *@
@{
    ViewData["Title"] = Model.ChildCategory!.Name;
}
@* <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=".."><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item"><a href="/Categories/GetChildCategories?category=@category">@category</a></li>        
        <li class="breadcrumb-item active" aria-current="page">@childcategory</li>
    </ol>
</nav> *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=".."><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item"><a href="/Categories/GetChildCategories?category=@Model.Category!.Name">@Model.Category.Name</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ChildCategory!.Name</li>
    </ol>
</nav>

<style>
    /* Изменение цвета фона и галочки при выборе чекбокса */
    .form-check-input:checked {
        background-color: blueviolet; /* Цвет для фона */
        border-color: #8a2be2; /* Цвет границы */
    }

    /* Цвет галочки в чекбоксе */
    .form-check-input:checked::before {
        color: white; /* Цвет галочки */
    }
</style>

<h1 class="display-5 f-st">@Model.ChildCategory!.Name</h1>

<div class="sticky-top">
    <ul class="list-group list-group-horizontal p-1">

        <li class="list-group-item" style="border-radius: 15px">
            Знайдено @Model.Products!.Count() товарів
        </li>
        @if(Model.IsFilterBuyers == true)
        {
            <li class="list-group-item" style="border-radius: 15px; background-color: plum; margin-left: 20px;">
                Продавець:
                @foreach (var item in Model.FilterBuyers!)
                {
                    <span> @item! </span>
                }
                <a asp-action="ClearSelectedBuyers" class="btn-close" style="margin-left: 5px; padding: 5px" aria-label="Close"></a>
            </li>
        }
        @if (Model.IsFilterTypes == true)
        {
            <li class="list-group-item" style="border-radius: 15px; background-color:plum; margin-left: 20px;">
                Тип:
                @foreach (var item in Model.FilterTypes!)
                {
                    <span> @item! </span>
                }
                <a asp-action="ClearSelectedTypes" class="btn-close" style="margin-left: 5px; padding: 5px" aria-label="Close"></a>
            </li>
        }
        @if (Model.IsFilterBrands == true)
        {
            <li class="list-group-item" style="border-radius: 15px; background-color:plum; margin-left: 20px;">
                Бренд:
                @foreach (var item in Model.FilterBrands!)
                {
                    <span> @item! </span>
                }
                <a asp-action="ClearSelectedBrands" class="btn-close" style="margin-left: 5px; padding: 5px" aria-label="Close"></a>
            </li>
        }
        @if (Model.IsFilterPrace == true)
        {
            <li class="list-group-item" style="border-radius: 15px; background-color:plum; margin-left: 20px;">
                Ціна:
                <span> @Model.StartPrace </span>
                <span> - </span>
                <span> @Model.EndPrace </span>
                <a asp-action="ClearPriceFilter" class="btn-close" style="margin-left: 5px; padding: 5px" aria-label="Close"></a>
            </li>
        }        
    </ul>
</div>
<br />
<div class="row">
    <div class="col-sm-3 text-start border-end border-2" style="min-width: 300px">
        @if (Model.Products.Any())
        {
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                style="background-color: #A323FF; color: white; border-radius: 15px;"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
                            Продавець
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <form method="post" asp-action="FilterByBuyer">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="ШвидкоBUY" id="flexCheckDefault_BUY" name="selectedbuyers">
                                            <label class="form-check-label" for="flexCheckDefault_BUY">
                                                ШвидкоBUY
                                            </label>
                                        </div>
                                    </li>
                                    @if (Model.FilterBuyers!.Any())
                                    {
                                        <li class="list-group-item">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Інші продавці" id="flexCheckDefault_Others" name="selectedbuyers">
                                                <label class="form-check-label" for="flexCheckDefault_Others">
                                                    Інші продавці
                                                </label>
                                            </div>
                                        </li>
                                    }                                    
                                </ul>
                                <button type="submit" class="btn btn-purple">Ok</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                style="background-color: #A323FF; color: white; border-radius: 15px;"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Тип товару
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <form method="post" asp-action="FilterByType">
                                <ul class="list-group list-group-flush">
                                    @foreach (var type in Model.FilterTypes!)
                                    {
                                        <li class="list-group-item">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@type" id="flexCheckDefault_@type" name="selectedTypes">
                                                <label class="form-check-label" for="flexCheckDefault_@type">
                                                    @type
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <button type="submit" class="btn btn-purple">Ok</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                style="background-color: #A323FF; color: white; border-radius: 15px;"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            Бренд
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <form method="post" asp-action="FilterByBrand">
                                <ul class="list-group list-group-flush">
                                    @foreach (var brand in Model.FilterBrands!)
                                    {
                                        <li class="list-group-item">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@brand" id="flexCheckDefault_@brand" name="selectedBrands">
                                                <label class="form-check-label" for="flexCheckDefault_@brand">
                                                    @brand
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <button type="submit" class="btn btn-purple">Ok</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                style="background-color: #A323FF; color: white; border-radius: 15px;"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Ціна
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">                       
                        <div class="accordion-body">
                            <form method="post" class="row g-3" asp-action="FilterByPrice">                                
                                <div class="col-md-5">
                                    <input type="text" class="form-control" 
                                            placeholder="Від" aria-label="Від" id="startPrace" name="minPrice"
                                            value="@Model.StartPrace" min="@Model.StartPrace" max="@Model.EndPrace">

                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control"
                                           placeholder="До" aria-label="До" id="endPrace" name="maxPrice" 
                                           value="@Model.EndPrace" min="@Model.StartPrace" max="@Model.EndPrace">

                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-purple">Ok</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

    @*///////////////////////////////////////////////////////*@
    <div class="col-sm-8">

        <div id="productsPartial" class="row">
        </div>

        @*///////////////////////////////////////////////////////*@

        @if (!Model.Products.Any())
        {
            <div class="container d-flex align-items-center justify-content-center">
                <h4><em>В зв'язку з тим, що сайт знаходиться в розробці, товари даної категорії ще відсутні! Але, якщо ви маєте права адміністратора, ви можете це виправити!:)</em></h4>
            </div>
        }
        else
        {            
            <div class="row mb-3">
                @foreach (var product in Model.Products.Where(p => p.QuantityInStock > 0))
                {
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                        <!-- Стилізований блок товару -->
                        <div class="mycard" style="border: 3px solid #f5f5dc; border-radius: 10px; padding: 3px;">
                            <a href="@Url.Action("GetProduct", "Products", new { id = product.Id })">
                                <div class="product-block">
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        <img src="data:image;base64,@Convert.ToBase64String(product.ProductImages!.FirstOrDefault()!.ImageData!)"
                                             class="img-fluid"
                                             style="max-height: 215px; width: auto; max-width: 100%; object-fit: contain;"
                                             onerror="this.onerror=null;"
                                             alt="Photo">
                                    }
                                    else
                                    {
                                        <img src="/photoproducts/no-image.jpg" class="img-fluid" alt="Photo" />
                                    }
                                </div>
                            </a>
                            <div class="mt-2">
                                <a class="link-product" href="@Url.Action("GetProduct", "Products", new { id = product.Id })">
                                    <div class="product-title">@product.ProductType?.Title @product.Brand?.Title @product.Title</div>
                                    <div class="product-description">@product.Description</div>
                                </a>
                                <div class="d-flex align-items-center mt-2">
                                    @if (product.ActionPrice == null)
                                    {
                                        <div class="product-price">@product.Price ₴</div>
                                    }
                                    else
                                    {
                                        <div class="text-decoration-line-through fs-6 fw-light">@product.Price</div>
                                        <div class="product-price-red p-1">@product.ActionPrice?.ToString("0") ₴</div>
                                    }
                                    <button type="button" class="btn btn-primary btn-add-to-cart ms-auto btn-purple me-1" onclick="updateCart(@product.Id, 'AddToCart')">
                                        <i class="bi bi-cart-plus"></i>
                                    </button>
                                    @if (product.IsInFavorites) // Проверяем, находится ли товар в избранном
                                    {
                                        <!-- Кнопка удаления из избранного -->
                                        <a href="@Url.Action("DeleteFromFavorites", "Favorites", new { productId = product.Id })" class="btn btn-outline-purple">
                                            <i class="bi bi-heart-fill"></i> <!-- Иконка заполненного сердечка (товар в избранном) -->
                                        </a>
                                    }
                                    else
                                    {
                                        <!-- Кнопка добавления в избранное  Тест ajax -->
                                        <a href="javascript:void(0)" class="btn btn-outline-purple add-to-favorites" data-product-id="@product.Id">
                                            <i class="bi bi-heart"></i>
                                        </a>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }

                @foreach (var product in Model.Products.Where(p => p.QuantityInStock <= 0))
                {
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                        <!-- Стилізований блок товару для товарів без наявності -->
                        <div style="opacity: 0.7;">
                            <div class="product-block">
                                <a href="/Products/GetProduct?id=@product.Id">
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        var firstImage = product.ProductImages.FirstOrDefault();
                                        <img src="data:image;base64,@Convert.ToBase64String(firstImage.ImageData)"
                                             class="img-fluid"
                                             alt="Product Image"
                                             style="max-height: 155px; width: auto; max-width: 100%;"
                                             onerror="this.onerror=null; this.src='/photoproducts/no-image.jpg';" />
                                    }
                                    else
                                    {
                                        <img src="/photoproducts/no-image.jpg" class="img-fluid" alt="Photo" />
                                    }
                                </a>
                            </div>

                            <div class="mt-2">
                                <div class="product-title">@product.ProductType.Title @product.Brand.Title @product.Title</div>
                                <div class="product-description">Немає в наявності</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>

