@using Rozetka.Data.Entity
@using Rozetka.Models.ViewModels.ProductAndSubChildCategory
@model ProductAndSubChildCategoryViewModel


@{
    string? category = Context.Session.GetString("Category");
    string? childcategory = Context.Session.GetString("ChildCategory");
    // string? subchildcategory = Context.Session.GetString("SubChildCategory");

    decimal? minPrice = Model.Products.Any() ? Model.Products.Min(p => p.Price) : null;
    decimal? maxPrice = Model.Products.Any() ? Model.Products.Max(p => p.Price) : null;
}
@{
    ViewData["Title"] = childcategory;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=".."><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item"><a href="/Categories/GetChildCategories?category=@category">@category</a></li>
        @* <li class="breadcrumb-item"><a href="/Childcategories/GetSubChildCategories?childcategory=@childcategory">@childcategory</a></li>  *@
        <li class="breadcrumb-item active" aria-current="page">@childcategory</li>
    </ol>
</nav>

<h1 class="display-5 f-st">@childcategory</h1>

<div class="sticky-top">
    <ul class="list-group list-group-horizontal">

        <li class="list-group-item" style="border-radius: 15px">
            Знайдено @Model.Products.Count() товарів
        </li>
        @if (!string.IsNullOrEmpty(Context.Session.GetString("selectedSubChildCategories")) || !string.IsNullOrEmpty(Context.Session.GetString("minPrice")) || !string.IsNullOrEmpty(Context.Session.GetString("maxPrice")))
        {
            <li class="list-group-item">
                <form asp-action="FullDeleteFilters" method="post">
                    <button type="submit" class="btn btn-danger">
                        Скинути
                    </button>
                </form>
            </li>
            @if (!string.IsNullOrEmpty(Context.Session.GetString("selectedSubChildCategories")))
            {
                <li class="list-group-item">
                    Бренды: @Context.Session.GetString("selectedSubChildCategories")
                    <form asp-action="DeleteFilterBrand" method="post">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </li>
            }
            @if (!string.IsNullOrEmpty(Context.Session.GetString("maxPrice")))
            {
                <li class="list-group-item">
                    @Context.Session.GetString("minPrice") - @Context.Session.GetString("maxPrice") грн
                    <form asp-action="DeleteFilterPrice" method="post">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </li>
            }
        }

    </ul>
</div>
<br />
<div class="row">
    <div class="col-sm-3 text-start border-end border-2" style="min-width: 300px">
        @if (Model.Products.Any())
        {
            <div class="accordion" id="accordionPanelsStayOpen">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button"
                                style="background-color: #A323FF; color: white;"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            Фільтр
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPanelsStayOpen">
                        <div class="horizontal-line"></div>
                        <div class="col-md-2">
                            <ul class="list-unstyled">
                                @foreach (var subchildcategory in Model.SubChildCategories)
                                {
                                    <li>
                                        <div class="form-check d-flex align-items-center">
                                            <input class="subCategoryCheckbox custom-checkbox flex-shrink-0" type="checkbox" value="@subchildcategory.Id" id="subchildcategory_@subchildcategory.Id">
                                            <label class="form-check-label f-sz ms-2" for="subchildcategory_@subchildcategory.Id">
                                                @subchildcategory.Name
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button"
                                style="background-color: #A323FF; color: white;"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Ціна
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPanelsStayOpen">
                        <div class="horizontal-line"></div>
                        <div class="row g-3 accordion-body">
                            <div class="col-md-5">
                                <input class="form-control" type="text" placeholder="Від" aria-label="Від" id="minPrice" value="@minPrice">
                            </div>
                            <div class="col-md-5">
                                <input class="form-control" type="text" placeholder="До" aria-label="До" id="maxPrice" value="@maxPrice">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

    @*///////////////////////////////////////////////////////*@
    <div class="col-sm-8">
        <!-- Блок для виведення товарів -->
        @* <div id="products-block" class="row">
            <!-- Товари будуть додаватися сюди через AJAX -->
        </div> *@
        <div id="productsPartial" class="row">

        </div>
     
    @*///////////////////////////////////////////////////////*@

        @if (!Model.Products.Any())
        {
            <div class="container d-flex align-items-center justify-content-center">
                <h4><em>В зв'язку з тим, що сайт знаходиться в розробці, товари даної категорії ще відсутні! Але, якщо ви маєте права адміністратора, ви можете це виправити!:)</em></h4>
            </div>
        }
        else
        {
             <div class="row mb-3">
                @foreach (var product in Model.Products.Where(p => p.QuantityInStock > 0))
                {
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                        <!-- Стилізований блок товару -->
                        <div>
                            <div class="product-block-products">
                                <a href="@Url.Action("GetProduct", "Products", new { id = product.Id })">
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        var firstImage = product.ProductImages.FirstOrDefault();
                                        <img src="data:image;base64,@Convert.ToBase64String(firstImage.ImageData)"
                                             class="img-fluid"
                                             alt="Product Image"
                                             style="max-height: 255px; width: auto; max-width: 100%;"
                                             onerror="this.onerror=null; this.src='/photoproducts/no-image.jpg';"
                                             onmouseover="this.src='data:image;base64,@Convert.ToBase64String(product.ProductImages.LastOrDefault().ImageData)'"
                                             onmouseout="this.src='data:image;base64,@Convert.ToBase64String(firstImage.ImageData)'" />
                                    }
                                    else
                                    {
                                        <img src="/photoproducts/no-image.jpg" class="img-fluid" alt="Photo" />
                                    }
                                </a>
                            </div>

                            <!-- Обмежений блок опису, якщо багато тексту -->
                            <div class="mt-2 product-description-block flex-grow-1">
                                <div class="product-title">@product.ProductType.Title @product.Brand.Title @product.Title</div>
                                <div class="product-description">@product.Description</div>
                            </div>

                            <!-- Футер картки з фіксацією до низу -->
                            <div class="product-footer mt-2">
                                <div class="d-flex align-items-center">
                                    <div class="product-price">@product.Price.ToString("0") ₴</div>
                                    <button href="#"onclick="updateCart(@product.Id, 'AddToCart')" class="btn btn-primary btn-add-to-cart ms-auto btn-purple me-3">
                                        <i class="bi bi-cart-plus"></i>
                                    </button>
                                    @if (product.IsInFavorites) // Проверяем, находится ли товар в избранном
                                    {
                                        <!-- Кнопка удаления из избранного -->
                                        <a href="@Url.Action("DeleteFromFavorites", "Favorites", new { productId = product.Id })" class="btn btn-outline-purple">
                                            <i class="bi bi-heart-fill"></i> <!-- Иконка заполненного сердечка (товар в избранном) -->
                                        </a>
                                    }
                                    else
                                    {
                                        <!-- Кнопка добавления в избранное -->
                                        @* <a href="@Url.Action("AddToFavorites", "Favorites", new { productId = product.Id })" class="btn btn-outline-purple">
                                            <i class="bi bi-heart"></i> <!-- Иконка пустого сердечка (товар не в избранном) -->
                                        </a> *@
                                        <a href="javascript:void(0)" class="btn btn-outline-purple add-to-favorites" data-product-id="@product.Id">
                                            <i class="bi bi-heart"></i>
                                        </a>
                                    }                                   

                                </div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var product in Model.Products.Where(p => p.QuantityInStock <= 0))
                {
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                        <!-- Стилізований блок товару для товарів без наявності -->
                        <div style="opacity: 0.8;">
                            <div class="product-block">
                                <a href="/Products/GetProduct?id=@product.Id">
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        var firstImage = product.ProductImages.FirstOrDefault();
                                        <img src="data:image;base64,@Convert.ToBase64String(firstImage.ImageData)"
                                             class="img-fluid"
                                             alt="Product Image"
                                             style="max-height: 155px; width: auto; max-width: 100%;"
                                             onerror="this.onerror=null; this.src='/photoproducts/no-image.jpg';" />
                                    }
                                    else
                                    {
                                        <img src="/photoproducts/no-image.jpg" class="img-fluid" alt="Photo" />
                                    }
                                </a>
                            </div>

                            <div class="mt-2">
                                <div class="product-title">@product.ProductType.Title @product.Brand.Title @product.Title</div>
                                <div class="product-description">Немає в наявності</div>
                            </div>
                        </div>
                    </div>
                }
            </div> 
        }

    </div>
</div>

