@using Rozetka.Data.Entity
@model IEnumerable<Favorites>

@{
    ViewData["Title"] = "Моє обране";
}

<h2>Обране</h2>

<style>
    .centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
    }

    .modal-footer .btn {
        background-color: #A323FF; /* Цвет кнопок */
        color: white; /* Цвет текста кнопок */
    }

        .modal-footer .btn:hover {
            background-color: #872c9e; /* Темный оттенок при наведении */
        }

    .modal-content {
        border-radius: 15px; /* Применяем закругление к углам */
    }
</style>

@if (!Model.Any())
{
    <h2 class="centered-text"> Ваш список обраних товарів порожній </h2>
}
else
{
    <div class="row mb-3">
        @foreach (var favorite in Model)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3">
                <div style="border: 3px solid #f5f5dc; border-radius: 10px; padding: 3px;">
                    <a href="@Url.Action("GetProduct", "Products", new { id = favorite.ProductId })">
                        <div class="product-block">
                            @if (favorite.Product!.ProductImages != null && favorite.Product!.ProductImages.Any())
                            {
                                <img src="data:image;base64,@Convert.ToBase64String(favorite.Product!.ProductImages!.FirstOrDefault()!.ImageData!)"
                                     class="img-fluid"
                                     style="max-height: 215px; width: auto; max-width: 100%; object-fit: contain;"
                                     onerror="this.onerror=null;"
                                     alt="Photo">
                            }
                            else
                            {
                                <img src="/photoproducts/no-image.jpg" class="img-fluid" alt="Photo" />
                            }
                        </div>
                    </a>
                    <div class="mt-2">
                        <a class="link-product" href="@Url.Action("GetProduct", "Products", new { id = favorite.ProductId })">
                            <div class="product-title">@favorite.Product!.ProductType?.Title @favorite.Product!.Brand?.Title @favorite.Product!.Title</div>
                            <div class="product-description">@favorite.Product!.Description</div>
                        </a>
                        <div class="d-flex align-items-center mt-2">                            
                            @if (@favorite.Product.ActionPrice == null)
                            {
                                <div class="product-price">@favorite.Product.Price ₴</div>
                            }
                            else
                            {
                                <div class="text-decoration-line-through fs-6 fw-light">@favorite.Product.Price</div>
                                <div class="product-price-red p-1">@favorite.Product.ActionPrice?.ToString("0") ₴</div>
                            }
                            <button type="button" class="btn btn-primary btn-add-to-cart ms-auto btn-purple me-1" onclick="updateCart(@favorite.ProductId, 'AddToCart')">
                                <i class="bi bi-cart-plus"></i>
                            </button>
                            <a href="#" class="btn btn-outline-purple"
                               data-bs-toggle="modal"
                               data-bs-target="#confirmDeleteModal"
                               data-product-id="@favorite.Id"
                               onclick="setDeleteProductId(event)">
                                <i class="bi bi-heart-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<!-- Модальное окно подтверждения -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" style="border-radius: 25px">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Підтвердження видалення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ви дійсно бажаєте видалити цей товар з обраного?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-purple" data-bs-dismiss="modal" style="background-color: gray">Скасувати</button>
                <button type="button" class="btn btn-purple" id="confirmDeleteButton">Видалити</button>
            </div>
        </div>
    </div>
</div>

<script>
    let productIdToDelete = null;

    function setDeleteProductId(event) {
        productIdToDelete = event.currentTarget.getAttribute('data-product-id');
    }

    document.getElementById('confirmDeleteButton').addEventListener('click', function () {
        if (productIdToDelete) {
            window.location.href = '@Url.Action("Delete", "Favorites")/' + productIdToDelete;
        }
    });
</script>