@using Rozetka.Data.Entity
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Головна сторінка";
}


<div class="row">    
    <div class="col-md-12">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- 2-й рядок: Рекомендуємо для вас -->
    <div class="row mb-3">
        <div class="col-12">
            <h3>Рекомендуємо для вас</h3>
        </div>
    </div>

    <div class="row mb-3">
        @for (int i = 0; i < 6; i++)
        {
            <!-- 6 блоків товарів -->
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <div>
                    <div class="product-block">
                        <img src="images/no-image-icon.png" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="mt-2">
                        <div class="product-title">Назва продукту</div>
                        <div class="product-description">Опис продукту</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">₴1000</div>
                            @* <i class="bi bi-heart ms-auto"></i> *@
                            <svg class="ms-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" rx="9" fill="#F5E8FF" />
                                <path d="M19.9215 8.78467C18.3458 8.78467 16.9473 9.40663 15.9999 10.4756C15.0524 9.40663 13.654 8.78467 12.0783 8.78467C10.706 8.78633 9.39026 9.33224 8.41984 10.3027C7.44943 11.2731 6.90352 12.5888 6.90186 13.9611C6.90186 19.6349 15.2007 24.1682 15.5536 24.3588C15.6908 24.4327 15.8441 24.4713 15.9999 24.4713C16.1557 24.4713 16.309 24.4327 16.4462 24.3588C16.7991 24.1682 25.0979 19.6349 25.0979 13.9611C25.0963 12.5888 24.5504 11.2731 23.5799 10.3027C22.6095 9.33224 21.2938 8.78633 19.9215 8.78467ZM19.4909 19.9502C18.3985 20.8771 17.2308 21.7113 15.9999 22.4443C14.769 21.7113 13.6013 20.8771 12.5089 19.9502C10.8093 18.4921 8.78421 16.2686 8.78421 13.9611C8.78421 13.0875 9.13127 12.2496 9.74903 11.6318C10.3668 11.0141 11.2047 10.667 12.0783 10.667C13.4744 10.667 14.643 11.4043 15.1285 12.5917C15.1992 12.7648 15.3198 12.913 15.475 13.0172C15.6302 13.1215 15.8129 13.1772 15.9999 13.1772C16.1869 13.1772 16.3696 13.1215 16.5248 13.0172C16.68 12.913 16.8006 12.7648 16.8713 12.5917C17.3568 11.4043 18.5254 10.667 19.9215 10.667C20.7951 10.667 21.633 11.0141 22.2508 11.6318C22.8685 12.2496 23.2156 13.0875 23.2156 13.9611C23.2156 16.2686 21.1905 18.4921 19.4909 19.9502Z" fill="#9C12FF" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        }  
    </div>
     

     <div class="row mb-3">
        <div class="col-12">
            <h3>Рекомендуємо для вас</h3>
        </div>
    </div>
    <div class="row mb-3">
        @{
            var randomProducts = Model.OrderBy(x => Guid.NewGuid()).Take(6); // Отбор 6 случайных товаров
        }
        
        @foreach (var product in randomProducts)
        {
            <!-- 6 блоків товарів -->
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <div>
                    <a href="@Url.Action("GetProduct", "Products", new { id = product.Id })">
                        <div class="product-block">
                            @if (product.ProductImages != null && product.ProductImages.Any())
                            {
                                @* <img src="data:image;base64,@Convert.ToBase64String(product.ProductImages.LastOrDefault().ImageData)" class="img-fluid" alt="Photo"> *@
                                <img src="data:image;base64,@Convert.ToBase64String(product.ProductImages.FirstOrDefault().ImageData)" class="img-fluid" alt="Photo">
                            }
                            else
                            {
                                <img src="/photoproducts/no-image.jpg" class="img-fluid" alt="Photo" />
                            }
                        </div>
                        
                        @* <div class="card-body">
                            <h5 class="card-title">@product.ProductType?.Title @product.Brand?.Title @product.Title</h5>
                            <p class="card-text col-2 text-truncate">@product.Description</p>
                        </div> *@
                    </a>
                                        
                    <div class="mt-2">
                        <div class="product-title">@product.ProductType?.Title @product.Brand?.Title @product.Title</div>
                        <div class="product-description card-text col-2 text-truncate">@product.Description</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">@product.Price ₴</div>
                            <a href="@Url.Action("AddToCart", "Cart", new { productId = product.Id })" class="btn btn-primary btn-add-to-cart ms-auto btn-purple me-3">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                            @if (product.IsInFavorites) // Проверяем, находится ли товар в избранном
                            {
                                <!-- Кнопка удаления из избранного -->
                                <a href="@Url.Action("DeleteFromFavorites", "Favorites", new { productId = product.Id })" class="btn btn-outline-purple">
                                    <i class="bi bi-heart-fill"></i> <!-- Иконка заполненного сердечка (товар в избранном) -->
                                </a>
                            }
                            else
                            {
                                <!-- Кнопка добавления в избранное -->
                                <a href="@Url.Action("AddToFavorites", "Favorites", new { productId = product.Id })" class="btn btn-outline-purple">
                                    <i class="bi bi-heart"></i> <!-- Иконка пустого сердечка (товар не в избранном) -->
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3>Більше товарів для вибору</h3>
        </div>
    </div>

    <div class="row mb-3">
        @for (int i = 0; i < 12; i++)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <!-- 12 блоків товарів -->
                <div>
                    <div class="product-block">
                        <img src="images/no-image-icon.png" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="mt-2">
                        <div class="product-title">Назва продукту</div>
                        <div class="product-description">Опис продукту</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">₴1000</div>
                            @* <i class="bi bi-heart ms-auto"></i> *@
                            <svg class="ms-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" rx="9" fill="#F5E8FF" />
                                <path d="M19.9215 8.78467C18.3458 8.78467 16.9473 9.40663 15.9999 10.4756C15.0524 9.40663 13.654 8.78467 12.0783 8.78467C10.706 8.78633 9.39026 9.33224 8.41984 10.3027C7.44943 11.2731 6.90352 12.5888 6.90186 13.9611C6.90186 19.6349 15.2007 24.1682 15.5536 24.3588C15.6908 24.4327 15.8441 24.4713 15.9999 24.4713C16.1557 24.4713 16.309 24.4327 16.4462 24.3588C16.7991 24.1682 25.0979 19.6349 25.0979 13.9611C25.0963 12.5888 24.5504 11.2731 23.5799 10.3027C22.6095 9.33224 21.2938 8.78633 19.9215 8.78467ZM19.4909 19.9502C18.3985 20.8771 17.2308 21.7113 15.9999 22.4443C14.769 21.7113 13.6013 20.8771 12.5089 19.9502C10.8093 18.4921 8.78421 16.2686 8.78421 13.9611C8.78421 13.0875 9.13127 12.2496 9.74903 11.6318C10.3668 11.0141 11.2047 10.667 12.0783 10.667C13.4744 10.667 14.643 11.4043 15.1285 12.5917C15.1992 12.7648 15.3198 12.913 15.475 13.0172C15.6302 13.1215 15.8129 13.1772 15.9999 13.1772C16.1869 13.1772 16.3696 13.1215 16.5248 13.0172C16.68 12.913 16.8006 12.7648 16.8713 12.5917C17.3568 11.4043 18.5254 10.667 19.9215 10.667C20.7951 10.667 21.633 11.0141 22.2508 11.6318C22.8685 12.2496 23.2156 13.0875 23.2156 13.9611C23.2156 16.2686 21.1905 18.4921 19.4909 19.9502Z" fill="#9C12FF" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3>Акційні пропозиції</h3>
        </div>
    </div>

    <div class="row mb-3">
        @for (int i = 0; i < 6; i++)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <!-- 6 блоків товарів -->
                <div>
                    <div class="product-block">
                        <img src="images/no-image-icon.png" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="mt-2">
                        <div class="product-title">Назва продукту</div>
                        <div class="product-description">Опис продукту</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">₴1000</div>
                            @* <i class="bi bi-heart ms-auto"></i> *@
                            <svg class="ms-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" rx="9" fill="#F5E8FF" />
                                <path d="M19.9215 8.78467C18.3458 8.78467 16.9473 9.40663 15.9999 10.4756C15.0524 9.40663 13.654 8.78467 12.0783 8.78467C10.706 8.78633 9.39026 9.33224 8.41984 10.3027C7.44943 11.2731 6.90352 12.5888 6.90186 13.9611C6.90186 19.6349 15.2007 24.1682 15.5536 24.3588C15.6908 24.4327 15.8441 24.4713 15.9999 24.4713C16.1557 24.4713 16.309 24.4327 16.4462 24.3588C16.7991 24.1682 25.0979 19.6349 25.0979 13.9611C25.0963 12.5888 24.5504 11.2731 23.5799 10.3027C22.6095 9.33224 21.2938 8.78633 19.9215 8.78467ZM19.4909 19.9502C18.3985 20.8771 17.2308 21.7113 15.9999 22.4443C14.769 21.7113 13.6013 20.8771 12.5089 19.9502C10.8093 18.4921 8.78421 16.2686 8.78421 13.9611C8.78421 13.0875 9.13127 12.2496 9.74903 11.6318C10.3668 11.0141 11.2047 10.667 12.0783 10.667C13.4744 10.667 14.643 11.4043 15.1285 12.5917C15.1992 12.7648 15.3198 12.913 15.475 13.0172C15.6302 13.1215 15.8129 13.1772 15.9999 13.1772C16.1869 13.1772 16.3696 13.1215 16.5248 13.0172C16.68 12.913 16.8006 12.7648 16.8713 12.5917C17.3568 11.4043 18.5254 10.667 19.9215 10.667C20.7951 10.667 21.633 11.0141 22.2508 11.6318C22.8685 12.2496 23.2156 13.0875 23.2156 13.9611C23.2156 16.2686 21.1905 18.4921 19.4909 19.9502Z" fill="#9C12FF" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3>найчастіше додають до списку бажань</h3>
        </div>
    </div>

    <div class="row mb-3">
        @for (int i = 0; i < 6; i++)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <!-- 6 блоків товарів -->
                <div>
                    <div class="product-block">
                        <img src="images/no-image-icon.png" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="mt-2">
                        <div class="product-title">Назва продукту</div>
                        <div class="product-description">Опис продукту</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">₴1000</div>
                            @* <i class="bi bi-heart ms-auto"></i> *@
                            <svg class="ms-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" rx="9" fill="#F5E8FF" />
                                <path d="M19.9215 8.78467C18.3458 8.78467 16.9473 9.40663 15.9999 10.4756C15.0524 9.40663 13.654 8.78467 12.0783 8.78467C10.706 8.78633 9.39026 9.33224 8.41984 10.3027C7.44943 11.2731 6.90352 12.5888 6.90186 13.9611C6.90186 19.6349 15.2007 24.1682 15.5536 24.3588C15.6908 24.4327 15.8441 24.4713 15.9999 24.4713C16.1557 24.4713 16.309 24.4327 16.4462 24.3588C16.7991 24.1682 25.0979 19.6349 25.0979 13.9611C25.0963 12.5888 24.5504 11.2731 23.5799 10.3027C22.6095 9.33224 21.2938 8.78633 19.9215 8.78467ZM19.4909 19.9502C18.3985 20.8771 17.2308 21.7113 15.9999 22.4443C14.769 21.7113 13.6013 20.8771 12.5089 19.9502C10.8093 18.4921 8.78421 16.2686 8.78421 13.9611C8.78421 13.0875 9.13127 12.2496 9.74903 11.6318C10.3668 11.0141 11.2047 10.667 12.0783 10.667C13.4744 10.667 14.643 11.4043 15.1285 12.5917C15.1992 12.7648 15.3198 12.913 15.475 13.0172C15.6302 13.1215 15.8129 13.1772 15.9999 13.1772C16.1869 13.1772 16.3696 13.1215 16.5248 13.0172C16.68 12.913 16.8006 12.7648 16.8713 12.5917C17.3568 11.4043 18.5254 10.667 19.9215 10.667C20.7951 10.667 21.633 11.0141 22.2508 11.6318C22.8685 12.2496 23.2156 13.0875 23.2156 13.9611C23.2156 16.2686 21.1905 18.4921 19.4909 19.9502Z" fill="#9C12FF" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3>актуальне в категорії одяг</h3>
        </div>
    </div>

    <div class="row mb-3">
        @for (int i = 0; i < 6; i++)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <!-- 6 блоків товарів -->
                <div>
                    <div class="product-block">
                        <img src="images/no-image-icon.png" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="mt-2">
                        <div class="product-title">Назва продукту</div>
                        <div class="product-description">Опис продукту</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">₴1000</div>
                            @* <i class="bi bi-heart ms-auto"></i> *@
                            <svg class="ms-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" rx="9" fill="#F5E8FF" />
                                <path d="M19.9215 8.78467C18.3458 8.78467 16.9473 9.40663 15.9999 10.4756C15.0524 9.40663 13.654 8.78467 12.0783 8.78467C10.706 8.78633 9.39026 9.33224 8.41984 10.3027C7.44943 11.2731 6.90352 12.5888 6.90186 13.9611C6.90186 19.6349 15.2007 24.1682 15.5536 24.3588C15.6908 24.4327 15.8441 24.4713 15.9999 24.4713C16.1557 24.4713 16.309 24.4327 16.4462 24.3588C16.7991 24.1682 25.0979 19.6349 25.0979 13.9611C25.0963 12.5888 24.5504 11.2731 23.5799 10.3027C22.6095 9.33224 21.2938 8.78633 19.9215 8.78467ZM19.4909 19.9502C18.3985 20.8771 17.2308 21.7113 15.9999 22.4443C14.769 21.7113 13.6013 20.8771 12.5089 19.9502C10.8093 18.4921 8.78421 16.2686 8.78421 13.9611C8.78421 13.0875 9.13127 12.2496 9.74903 11.6318C10.3668 11.0141 11.2047 10.667 12.0783 10.667C13.4744 10.667 14.643 11.4043 15.1285 12.5917C15.1992 12.7648 15.3198 12.913 15.475 13.0172C15.6302 13.1215 15.8129 13.1772 15.9999 13.1772C16.1869 13.1772 16.3696 13.1215 16.5248 13.0172C16.68 12.913 16.8006 12.7648 16.8713 12.5917C17.3568 11.4043 18.5254 10.667 19.9215 10.667C20.7951 10.667 21.633 11.0141 22.2508 11.6318C22.8685 12.2496 23.2156 13.0875 23.2156 13.9611C23.2156 16.2686 21.1905 18.4921 19.4909 19.9502Z" fill="#9C12FF" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @* <div class="row mb-4">
        <div class="col-12">
            <div class="carousel-item active" style="border-radius: 15px; position: relative;">
                <img src="~/images_advertising/bottom_baner.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">

                <div class="container">
                    <div class="row">
                        <div class="col-4 d-flex flex-column justify-content-start" style="position: absolute; top: 10%; left: 5%; z-index: 2; gap: 20px; padding-top: 20px;">
                            <div style="width: 100%;">
                                <h2 class="marketplace-promo-heading fw-bold">Почни продавати на нашому маркетплейсі вже сьогодні!</h2>
                           </div>
                            <div class="mt-4" style="width: 80%;">
                                <div class="success-promo-container">
                                   <h5 class="success-message-text-style">Залучай мільйони покупців, збільшуй дохід і розвивай свій бізнес з нами. Приєднуйся – твій успіх починається тут</h5>
                                   <div class="row">
                                       <div class="col-5 text-center">
                                           <button class="btn btn-primary w-100 quick-find-button ">Стати продавцем</button>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div> *@

    <div class="row mb-4">
        <div class="col-12">
            <div class="carousel-item active" style="border-radius: 15px; position: relative;">
                <img src="~/images_advertising/bottom_baner.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px; object-fit: cover;">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 d-flex flex-column justify-content-start"
                             style="position: absolute; top: 5%; left: 5%; z-index: 2; gap: 1.5vw; transform: scale(1); width: 40%; padding-top: 1vw;">
                            <div class="txt_title_baner_non" style="width: 100%;">
                                <h5 class="marketplace-promo-heading fw-bold" style="font-size: 1.5vw;">Почни продавати на нашому маркетплейсі вже сьогодні!</h5>
                            </div>
                            <div style="width: 70%; margin-top: 1vw;">
                                <div class="success-promo-container">
                                    <p class="success-message-text-style txt_baner_non" style="font-size: 0.8vw;">Залучай мільйони покупців, збільшуй дохід і розвивай свій бізнес з нами. Приєднуйся – твій успіх починається тут</p>
                                    <div class="row">
                                        <div class="col-6 text-center">
                                            <button class="btn btn-primary w-100 quick-find-button"
                                                    style="font-size: 1vw; margin: 0.7vw 1vw;"
                                                    id="becomeSellerButton">
                                                Стати продавцем
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12">
            <h3>користуються попитом</h3>
        </div>
    </div>

    <div class="row mb-3">
        @for (int i = 0; i < 18; i++)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  mb-3">
                <!-- 18 блоків товарів -->
                <div>
                    <div class="product-block">
                        <img src="images/no-image-icon.png" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="mt-2">
                        <div class="product-title">Назва продукту</div>
                        <div class="product-description">Опис продукту</div>
                        <div class="d-flex align-items-center mt-2">
                            <div class="product-price">₴1000</div>
                            @* <i class="bi bi-heart ms-auto"></i> *@
                            <svg class="ms-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" rx="9" fill="#F5E8FF" />
                                <path d="M19.9215 8.78467C18.3458 8.78467 16.9473 9.40663 15.9999 10.4756C15.0524 9.40663 13.654 8.78467 12.0783 8.78467C10.706 8.78633 9.39026 9.33224 8.41984 10.3027C7.44943 11.2731 6.90352 12.5888 6.90186 13.9611C6.90186 19.6349 15.2007 24.1682 15.5536 24.3588C15.6908 24.4327 15.8441 24.4713 15.9999 24.4713C16.1557 24.4713 16.309 24.4327 16.4462 24.3588C16.7991 24.1682 25.0979 19.6349 25.0979 13.9611C25.0963 12.5888 24.5504 11.2731 23.5799 10.3027C22.6095 9.33224 21.2938 8.78633 19.9215 8.78467ZM19.4909 19.9502C18.3985 20.8771 17.2308 21.7113 15.9999 22.4443C14.769 21.7113 13.6013 20.8771 12.5089 19.9502C10.8093 18.4921 8.78421 16.2686 8.78421 13.9611C8.78421 13.0875 9.13127 12.2496 9.74903 11.6318C10.3668 11.0141 11.2047 10.667 12.0783 10.667C13.4744 10.667 14.643 11.4043 15.1285 12.5917C15.1992 12.7648 15.3198 12.913 15.475 13.0172C15.6302 13.1215 15.8129 13.1772 15.9999 13.1772C16.1869 13.1772 16.3696 13.1215 16.5248 13.0172C16.68 12.913 16.8006 12.7648 16.8713 12.5917C17.3568 11.4043 18.5254 10.667 19.9215 10.667C20.7951 10.667 21.633 11.0141 22.2508 11.6318C22.8685 12.2496 23.2156 13.0875 23.2156 13.9611C23.2156 16.2686 21.1905 18.4921 19.4909 19.9502Z" fill="#9C12FF" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Кнопка Показати ще -->
    <div class="row mb-4">
        <div class="col-12 text-center">
            <button class="btn btn-primary w-100 quick-find-button">Показати ще</button>
        </div>
    </div>

</div>


